body{
    background: #4e509e;

}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.game{
    width: 60vw;
    height: 63vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 30px; */


}

.game button {
    width: 15vw;
    height: 22vh;
    border-radius: 10px;
    border: none;
    background-color: white(0, 238, 255);
    font-size: 5rem;
    color: brown;
    

}
.game :hover{
    /* border: 2px solid black; */
    transform: scale(1.04);

}
#reset{
    margin-top: 4.5rem;
    padding: 10px;
    border-radius: 0.6rem;
    border: none;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: rgb(10, 17, 31);
    color: white;
  


}
#reset:hover{
    /* border: 2px solid black; */
    transform: scale(1.04);


}
